<%= content_tag_for :div, product do %>
  <div class="media">
    <%= link_to product_path(product), class: 'pull-left' do %>
      <%= image_tag 'http://media.topshop.com/wcsstore/TopShop/images/catalog/26F05GBLS_large.jpg' %>
    <% end %>

    <div class="media-body">
        <h4><%= link_to product.name, product %></h4>
    </div>
  </div>
<% end %>